<h1>New Message</h1>

<form method="POST" , action="/new">
  <input type="text" name="authorName" placeholder="Type in your name" />
  <input type="text" name="messageText" placeholder="Type in your message" />
  <input type="submit" />
</form>